.hamburguer {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

.bar {
  height: 4px;
  background-color: #f8f8ff;
  border-radius: 2px;
  transition: 0.3s;
}

/* Animação do hambúrguer */
.hamburguer.ativo .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 8px);
}

.hamburguer.ativo .bar:nth-child(2) {
  opacity: 0;
}

.hamburguer.ativo .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -8px);
}


.menuLateral {
  position: fixed;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100vh;
  background: linear-gradient(#1ecfea, #16c6e3, #09b9d6);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  z-index: 1000;
}

.menuLateral.aberto {
  left: 0;
}


.tituloIcone {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.titleName {
  color: #f8f8ff;
  font-size: 1.7em;
  font-weight: 100;
  text-align: center;
  margin: 0.5em 0;
}


.navRedesSociais {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 1.5rem;
}

.navRedesSociais a {
  color: #ffffff;
  transition: 0.2s;
}

.navRedesSociais a:hover {
  transform: scale(1.1);
}

.navRedesSociais i {
  font-size: 1.5em;
}


.menuLinks {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 1rem;
}

.menuLinks a {
  color: #fff8f7;
  font-weight: 100;
  font-size: 18px;
  padding: 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menuLinks a:hover {
  background-color: #43d0e7;
  color: #fff;
  transform: translateX(5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.menuLinks i {
  font-size: 20px;
}


.footerMenu {
  margin-top: auto; /* 🔥 ESSENCIAL */
  background-color: #127c91;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: #87c6c7;
  padding: 14px 0;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


