

:root{
  --azul:#5BD3E4;
  --branco:#FFFF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right top,
    #07B7D5,
    #18C9E5,
    #1BCBE7,
    #18C9E5,
    #18C9E5,
    #18C9E5,
    #0CBDDA,
    #1BCBE7
  );
  
}






