.fundo1 {
  width: 90%;
  padding: 40px 0px 40px 0px;
  background-color: #E2FDFF;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  
}
.titulo{
  margin-left: 13em;
  font-size: 2em;

}
.minhahistoria{
  background-color: #F9FEFF;
  width: 550px;
  height: 500px;
  margin-left: 25em;
  border-radius: 10px;
  padding: 25px;
}
.infopessoal{
   background-color: #F9FEFF;
   width: 550px;
   border-radius: 10px;
   padding: 25px;
  
}
.interesses{
  background-color: #F9FEFF;
  width: 550px;
  border-radius: 10px;
  padding: 25px;
  
}
.alinhamneto{
  display: flex;
  gap: 600px;
  
}
.alinhamneto2{
  display: flex;
  flex-direction: column;
  gap: 300px;
}

