.fundo2 {
  padding: 40px 20px;
  background:white; /* azul claro */
  padding: 40px 40px 40px 40px;  
  width: 100%;     

}

.titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  color: #003366; /* azul escuro para contraste */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  height: 100%;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.15);
}

.imagem {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.3rem;
  color: #003366;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 15px;
}

.card a {
  display: inline-block;
  padding: 10px 18px;
  background: #0070f3;
  color: #293157;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s;
}

.card a:hover {
  background: #0059c1;
}
@media (min-width: 1024px) {
.card {
  width: 500px;
  
}
.grid {
  display: flex;
  justify-content: center;
  margin-left: 15em;
  gap: 10px;
}
.titulo {
  font-size: 2em;
  margin-left: 7em;
  text-align: center;
  margin-bottom: 30px;
  color: #003366; /* azul escuro para contraste */
}
} 
